.top-buttons-container
{
  display: flex;
  justify-content: flex-end;
  color: inherit;
}

.close-button
{
  color: inherit;

}

.settings-container
{
  display: flex;
  flex-direction: column;
  color: inherit;
}

.close-icon, .settings-list, .settings-list-item-icon
{
  color: #4169E1;
}
