.rules-container
{
    background-color: #353839;
}

.rules-title
{
    font-size: 40px;
    font-weight: bold;
}

.rule-section-title
{
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.rule-subsection-title
{
    font-size: 24px;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rule-list
{
    margin: 0;
    padding: 0;
    list-style-position: inside;
}
